@model BSRVemcoCS.iAppViewModel.AppLoginViewModel;

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@* LOGIN *@
@* style="margin-top:100px;" *@
<div class="text-center">

    @* class="col-md-6 offset-md-3 d-flex align-items-center justify-content-center" *@
    <div class="col-md-6 offset-md-3 d-flex align-items-center justify-content-center">

        @* class="card mb-3" *@
        <div>
@*             class="card-body" *@
            <div>
                @* class="pt-4 pb-1 *@
                <div class="mb-3">
                    @* card-title  *@  
                    <span class="text-center pb-0 h2" style="color:black;font-weight:bold;"><span class="h2" style="color:#0a75bb;font-weight:bold;">BSR </span>Building Portal</span>
                    <h5 class="text-center pb-0 fs-4">Login to your account</h5>
                    <span class="text-center small">Enter your E-mail & password to login</span>
                </div>
                @* g-3 *@
               
                <form method="post" class="row needs-validation" novalidate>


                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="mb-3">
                        @* <div class="form-floating col-12"> *@
                     
                            <input type="email" class="form-control form-control-sm" id="floatingInput" placeholder="E-mail address"
                               asp-for="Email"
                               required>
                        <div class="invalid-feedback text-start">Please fill in this field</div>

                        @*  <label for="floatingInput">E-mail address</label>


                        <div class="invalid-feedback text-start">Please fill in this field</div>

                        </div> *@

                    </div>

                    <div class="mb-3">

                        @* <div class="form-floating col-12"> *@
                        <input type="password" class="form-control form-control-sm" id="floatingInput" placeholder="Password"
                               asp-for="Password"
                               required>
                        <div class="invalid-feedback text-start">Please fill in this field</div>

                        @*  <label for="floatingInput">Password</label>


                        <div class="invalid-feedback text-start">Please fill in this field</div>

                        </div> *@
                 
                    </div>

                    <div class="mb-2 text-start">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                            <label class="form-check-label  text-start" for="rememberMe">Remember me</label>
                        </div>
                    </div>
                 
                    <div class="mb-3 col-12">
@*                         w-100 *@
                        <button class="btn btn-primary btn-sm" type="submit" style="width:100px;height:30px;">Login</button>
                    </div>
                  
                    <div class="col-12">
                        <p class="small mb-0">Don't have account ? <a asp-controller="Account" asp-action="Register">Create an account</a></p>
                    </div>
                </form>

            </div>
        </div>




    </div>
</div> 