@model BSRVemcoCS.iAppViewModel.AppRegisterViewModel;

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="text-center" style="margin-top:100px;">


<div class="col-md-6 offset-md-3 d-flex align-items-center justify-content-center">


    <div class="card mb-3">

        <div class="card-body">

            <div class="pt-4 pb-2">
                <h2 class="card-title text-center pb-0 fs-4">BSR Service Suite</h2>
                <h5 class="text-center pb-0 fs-4">Create an Account</h5>
                <p class="text-center small">Enter your personal details to create account</p>
            </div>


            <form  method="post"  class="row g-3 needs-validation" novalidate>

             
                    <div asp-validation-summary="All" class="text-danger"></div>



   <div class="form-floating col-12">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Accountable Person (AP)"
                               asp-for="CompanyName"
                               required>
                        <label for="floatingInput">Accountable Person (AP)</label>

                        @*<div class="valid-feedback text-start">Looks good!</div>*@
                        <div class="invalid-feedback text-start">Please fill in this field</div>

                    
                    </div>

              

                <div class="form-floating col-12">
                    <input type="text" class="form-control" id="floatingInput" placeholder="First name"
                               asp-for="FirstName"
                               required>
                    <label for="floatingInput">First name</label>
             
                
                        @*<div class="valid-feedback text-start">Looks good!</div>*@
                        <div class="invalid-feedback text-start">Please fill in this field</div>

                
                    </div>


                <div class="form-floating col-12">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Last name"
                               asp-for="LastName" required>
                    <label for="floatingInput">Last name</label>


                        <div class="valid-feedback text-start">Looks good!</div>
                        <div class="invalid-feedback text-start">Please fill in this field</div>

                    </div>



                <div class="form-floating col-12">
                    <input type="email" class="form-control" id="floatingInput" placeholder="E-mail address"
                               asp-for="Email"
                               required>
                    <label for="floatingInput">E-mail address</label>


                        @*<div class="valid-feedback text-start">Looks good!</div>*@
                        <div class="invalid-feedback text-start">Please fill in this field</div>

                    </div>


                <div class="form-floating col-12">
                    <input type="password" class="form-control" id="floatingInput" placeholder="Password"
                               asp-for="Password"
                    required>
                    <label for="floatingInput">Password</label>


                        @*<div class="valid-feedback text-start">Looks good!</div>*@
                        <div class="invalid-feedback text-start">Please fill in this field</div>

                    </div>




                @*

                <div class="col-12">
                <label for="yourName" class="form-label">Your Name</label>
                <input type="text" name="name" class="form-control" id="yourName" required>
                <div class="invalid-feedback">Please, enter your name!</div>
                </div>

                <div class="col-12">
                <label for="yourEmail" class="form-label">Your Email</label>
                <input type="email" name="email" class="form-control" id="yourEmail" required>
                <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                </div>

                <div class="col-12">
                <label for="yourUsername" class="form-label">Username</label>
                <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@@</span>
                <input type="text" name="username" class="form-control" id="yourUsername" required>
                <div class="invalid-feedback">Please choose a username.</div>
                </div>
                </div>

                <div class="col-12">
                <label for="yourPassword" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="yourPassword" required>
                <div class="invalid-feedback">Please enter your password!</div>
                </div>*@

                <div class="col-12">
                        <div class="form-check  text-start">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                    </div>
                </div>
                <div class="col-12">
                        @*type="submit"*@
                       @* asp-area="iWebMember" asp-controller="Development" asp-action="Edit"*@  
                       <button type="submit" class="btn btn-primary w-100">Create Account</button>
                </div>
                <div class="col-12">
                        <p class="small mb-0">Already have an account? <a  asp-controller="Account" asp-action="Login">Log in</a></p>
                </div>
            </form>


        </div>
    </div>




</div> 





</div> 






 