@model BSRVemcoCS.iAppViewModel.AppRegisterViewModel;

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="text-center">

    @* class="col-md-6 offset-md-3 d-flex align-items-center justify-content-center" *@
    <div class="col-md-6 offset-md-3 d-flex align-items-center justify-content-center">

        @* class="card mb-3" *@
        <div>
            @*             class="card-body" *@
            <div>
                @* class="pt-4 pb-1 *@
                <div class="mb-3">
                    @* card-title  *@
                    <span class="text-center pb-0 h2" style="color:black;font-weight:bold;"><span class="h2" style="color:#0a75bb;font-weight:bold;">BSR </span>Building Portal</span>
                    <h5 class="text-center pb-0 fs-4">Create an account</h5>
                    <span class="text-center small">Enter your personal details to create account</span>
                </div>
                @* g-3 *@

                <form method="post" class="row needs-validation" novalidate>


                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="mb-3">
                    
                        <input type="text" class="form-control form-control-sm" id="floatingInput" placeholder="Accountable Person (AP)"
                               asp-for="CompanyName"
                               required>
                        <div class="invalid-feedback text-start">Please fill in this field</div>

                                         </div>


                                         <div style="display:flex;flex-direction:row;justify-content:space-between;">
                        <div class="mb-3">
                        <input type="text" class="form-control form-control-sm" id="floatingInput" placeholder="First name"
                               asp-for="FirstName"
                               required>
                            <div class="invalid-feedback text-start">Please fill in this field</div>
                        </div>
<div style="width:10px;"></div>
                        <div class="mb-3">
                        <input type="text" class="form-control form-control-sm" id="floatingInput" placeholder="Last name"
                               asp-for="LastName"
                               required>
                            <div class="invalid-feedback text-start">Please fill in this field</div>
                        </div>
                    </div>
                    <div class="mb-3">
                    
                        <input type="email" class="form-control form-control-sm" id="floatingInput" placeholder="E-mail address"
                               asp-for="Email"
                               required>
                        <div class="invalid-feedback text-start">Please fill in this field</div>

                                         </div>

                 
                                         
                                         
                                         
                                         
                                         
                                         
                                         
                                         
                                         
                                         
                                         
                                         
                                         
                                         
                                         
                                         
                                         <div class="mb-3">
 
                        <input type="password" class="form-control form-control-sm" id="floatingInput" placeholder="Password"
                               asp-for="Password"
                               required>
                        <div class="invalid-feedback text-start">Please fill in this field</div>
 

                    </div>

                  @*   <div class="mb-2 text-start">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                            <label class="form-check-label  text-start" for="rememberMe">Remember me</label>
                        </div>
                    </div> *@

                    <div class="mb-2 text-start">
                        <div class="text-start">
                            @* class="form-check-input" *@ 
                            <input name="terms" type="checkbox" value="" id="acceptTerms" required>
                            <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                            <div class="invalid-feedback">You must agree before submitting.</div>
                        </div>
                    </div>




                    <div class="mb-3 col-12">
                        @*                         w-100 *@
                        <button class="btn btn-primary btn-sm" type="submit" style="width:120px;height:30px;">Create account</button>
                    </div>

                    <div class="col-12">
                        <p class="small mb-0">Already have an account ? <a asp-controller="Account" asp-action="Login">Log in</a></p>
                    </div>
                </form>

            </div>
        </div>




    </div>
</div>

@* XXXXXXXXXXXXXXXXXXXXx *@

@* 
<div class="text-center" style="margin-top:100px;">


<div class="col-md-6 offset-md-3 d-flex align-items-center justify-content-center">


    <div class="card mb-3">

        <div class="card-body">

            <div class="pt-4 pb-2">
                <h2 class="card-title text-center pb-0 fs-4">BSR Service Suite</h2>
                <h5 class="text-center pb-0 fs-4">Create an Account</h5>
                <p class="text-center small">Enter your personal details to create account</p>
            </div>


            <form  method="post"  class="row g-3 needs-validation" novalidate>

             
                    <div asp-validation-summary="All" class="text-danger"></div>



   <div class="form-floating col-12">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Accountable Person (AP)"
                               asp-for="CompanyName"
                               required>
                        <label for="floatingInput">Accountable Person (AP)</label>

          
                        <div class="invalid-feedback text-start">Please fill in this field</div>

                    
                    </div>

              

                <div class="form-floating col-12">
                    <input type="text" class="form-control" id="floatingInput" placeholder="First name"
                               asp-for="FirstName"
                               required>
                    <label for="floatingInput">First name</label>
             
                
                        
                        <div class="invalid-feedback text-start">Please fill in this field</div>

                
                    </div>


                <div class="form-floating col-12">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Last name"
                               asp-for="LastName" required>
                    <label for="floatingInput">Last name</label>


                        <div class="valid-feedback text-start">Looks good!</div>
                        <div class="invalid-feedback text-start">Please fill in this field</div>

                    </div>



                <div class="form-floating col-12">
                    <input type="email" class="form-control" id="floatingInput" placeholder="E-mail address"
                               asp-for="Email"
                               required>
                    <label for="floatingInput">E-mail address</label>


                       
                        <div class="invalid-feedback text-start">Please fill in this field</div>

                    </div>


                <div class="form-floating col-12">
                    <input type="password" class="form-control" id="floatingInput" placeholder="Password"
                               asp-for="Password"
                    required>
                    <label for="floatingInput">Password</label>


                   
                        <div class="invalid-feedback text-start">Please fill in this field</div>

                    </div>
 

                <div class="col-12">
                        <div class="form-check  text-start">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                    </div>
                </div>
                <div class="col-12">
                    
                       <button type="submit" class="btn btn-primary w-100">Create Account</button>
                </div>
                <div class="col-12">
                        <p class="small mb-0">Already have an account? <a  asp-controller="Account" asp-action="Login">Log in</a></p>
                </div>
            </form>


        </div>
    </div>




</div> 





</div>  *@