@* @model BSRVemcoPage_ContactUsViewModel *@
@* class="accordion-body" *@
<div id="div_PageHTMLContent"  style="margin:0px;padding:0px;display:flex;flex-direction:column;">

    @await Component.InvokeAsync("CMS_PageViewHTMLContent","terms")


</div>
