@model BSRVemcoCS.iAppViewModel.AppDevelomentNew1ViewModel

@* class="accordion-body" *@
<div id="div_PageHTMLContent" style="margin:0px;padding:0px;display:flex;flex-direction:column;">

    @* <div class="text-center fs-5">Contact Us</div>    *@
    @*   <div class="text-center fs-6" style="margin-left:30px;">Fill in data to add new building:</div>
    *@

    <div class="row">


        <div class="col" style="margin-top:20px;padding:0px;display:flex;flex-direction:row;">
            @* g-3  *@
            <form id="addForm" class="row g-3 needs-validation" novalidate>
                @* style="background-color:yellow;" *@

                <div class="col me-3">

                    @* method="post" enctype="multipart/form-data" *@


                    @* <div asp-validation-summary="All" class="text-danger"></div> *@

                    <div class="row">



                        <div class="mt-0 ms-3 me-3">
                            @*  <label for="formGroupExampleInput2" class="form-label">Building image:</label> *@
                            @* asp-for="BuildingName" *@

                            <input id="txt_BuildingImageURL" type="url" class="form-control" placeholder="Image URL"
                                   style="color:blue;" required
                                   onblur="showImageURLPreview()" />
                        </div>


                        <div class="mt-3 ms-3 me-3">
                            @*   <label for="formGroupExampleInput2" class="form-label">Development name:</label> *@
                            @* asp-for="BuildingName" *@

                            <input id="txt_BuildingName" type="text" class="form-control" placeholder="Building name"
                                   required />
                        </div>



                        <div class="mt-3 ms-3 me-3">
                            @*  <label for="formGroupExampleInput2" class="form-label">Development address:</label> *@
                            @* asp-for="BuildingAddress" *@

                            <input id="txt_BuildingAddress" type="text" class="form-control" placeholder="Building address"
                                   required />
                        </div>


                        @*                asp-format="{0:yyyy-MM-dd}"*@
                        <div class="mt-3 ms-3 me-3">
                            @* <label for="formGroupExampleInput2" class="form-label">Build date:</label> *@
                            <input id="txt_BuildingDateYear" type="number" min="1900" max="2100" step="1" value="@DateTime.Now.Year" class="form-control" id="formGroupExampleInput2" placeholder="Build date"
                                   asp-for="BuildingDateYear"
                                   required />

                            @*<input type="year" class="form-control" id="formGroupExampleInput2" placeholder=""
                            asp-for="BuildingDate"
                            required/>*@

                        </div>
                        <span class="text-mute ms-3" style="font-size:small;">(approximate if unknown)</span>

                        @*  <div class="m-3 float-end">
                        <input class="btn btn-primary " value="Submit" style="float:right;width:100%;height:auto;background-color:#19c571;height:auto;border-color:#19c571;color:white;"
                        id="btn_SubmitForm">
                        </div> *@
                        @*style="background-color:red;"*@
                        @*  <div class="mt-5">
                        <input class="btn btn-primary float-end" type="submit" value="Next" style="width:100px;height:auto;">
                        </div> *@


                    </div>



                </div>


                @*style="padding:5px;" background-color:red; *@
                <div id="div_SlideShow" class="col-4 ms-3 me-3 float-end card shadow border border-info rounded-3" style="height:calc(100vh - 230px);width:350px;padding-top:10px;float:right;">
                    @* class="" *@
                    <div class="h-100" style="display:flex;flex-direction:column;justify-content:space-between;">



                        <div class="text-center middleCenter">
                            @* style="width:320px;height:auto;margin:auto;" *@   @* class="float-end" *@
                            <img id="img_Preview" name="img_Preview"
                                 class="img-responsive" src="~/img/nopreview.png" style="max-width: 300px;display: block;height:calc(100vh - 300px);margin:auto;" />
                        </div>


                        <div class="mt-3 mb-3 align-text-bottom" style="margin-top:auto;">
                            <input class="btn btn-primary" value="Submit" style="width:100%;height:auto;background-color:#19c571;height:auto;border-color:#19c571;color:white;"
                                   id="btn_SubmitForm">
                        </div>
                    </div>

                </div>

            </form>

        </div>


    </div>



</div>

<script>


    function PreviewImage() {

        try {

            //alert('PreviewImage'); // Where you will display your image
            //var preview = document.querySelector('img');
            var preview = document.getElementById("img_Preview");
            // The button where the user chooses the local image to display
            //var file = document.querySelector('input[type=file]').files[0];
            var file = document.getElementById("uploadFile").files[0];
            // FileReader instance
            var reader = new FileReader();

            // When the image is loaded we will set it as source of
            // our img tag
            reader.onloadend = function () {
                preview.src = reader.result;
            }


            if (file) {
                // Load image as a base64 encoded URI
                reader.readAsDataURL(file);
            }
            else {
                preview.src = "";
            }

        }
        catch (err) {
            console.error(err);
            return;
        }


    }




    function ShowPreview(input) {

        //alert(input);

        const file = input.files[0];

        if (file) {

            var img_Preview = document.getElementyId("img_Preview");
            img_Preview.src = URL.createObjectURL(file);
        }
    }


</script>


<script>


    function showImageURLPreview() {


        try {

            // alert('showImageURLPreview' +);

            var xxx = $("#txt_BuildingImageURL").val();

            $("#img_Preview").attr("src", xxx);

            // if (isValidUrl(xxx)) {
            //     $("#img_Preview").attr("src", xxx);
            //    // var img_Preview = document.getElementyId("img_Preview");
            //    //  img_Preview.src = xxx;// $("#txt_BuildingImageURL").val();//URL.createObjectURL(file);

            // }
        }


        catch (err) {


        }

    }



    const isValidUrl = urlString => {
        var urlPattern = new RegExp('^(https?:\\/\\/)?' + // validate protocol
            '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // validate domain name
            '((\\d{1,3}\\.){3}\\d{1,3}))' + // validate OR ip (v4) address
            '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // validate port and path
            '(\\?[;&a-z\\d%_.~+=-]*)?' + // validate query string
            '(\\#[-a-z\\d_]*)?$', 'i'); // validate fragment locator
        return !!urlPattern.test(urlString);
    }



    // // // // // var max = 300;
    // // // // // $("#txt_MessageBox").keyup(function (e) {
    // // // // //     $("#count").text("Characters left: " + (max - $(this).val().length));
    // // // // // });


    // // // // // $("#addForm").validate({
    // // // // //     rules: {
    // // // // //         txt_FullName: {
    // // // // //             required: true,
    // // // // //             minlength: 3,
    // // // // //             maxlength: 50,
    // // // // //         },
    // // // // //     },
    // // // // //     // // // // // highlight: function (element) {
    // // // // //     // // // // //     $(element).closest('.form-group').addClass('has-error');
    // // // // //     // // // // // },
    // // // // //     // // // // // messages: {
    // // // // //     // // // // //     name: {
    // // // // //     // // // // //         required: "This field is required",
    // // // // //     // // // // //         minlength: "Name must be at least 2 characters",
    // // // // //     // // // // //         maxlength: "Maximum number of characters - 10",
    // // // // //     // // // // //     },
    // // // // //     // // // // // },
    // // // // //     submitHandler: function (form) {
    // // // // //         alert('submitHandler XXX');
    // // // // //         // // // // // $.ajax({
    // // // // //         // // // // //     url: 'addEmpl.php',
    // // // // //         // // // // //     type: 'GET',
    // // // // //         // // // // //     dataType: 'html',
    // // // // //         // // // // //     success: function (data) {
    // // // // //         // // // // //         $("#block").html(data);
    // // // // //         // // // // //     }
    // // // // //         // // // // // });
    // // // // //         return false; // required to block normal submit since you used ajax
    // // // // //     }
    // // // // // });




    // // // // // // // $(document).ready(function () {



    // // // // // // //     // // // // // $("#test").validate({  // initialize plugin on the form
    // // // // // // //     // // // // //     rules: {
    // // // // // // //     // // // // //         ...
    // // // // // // //     // // // // //      }
    // // // // // // //     // // // // //      ...
    // // // // // // //     // // // // //      // etc.
    // // // // // // //     // // // // // });


    // // // // // // // });


    $("#btn_SubmitForm").click(function () {



        $("#addForm").validate({
            // // // // // rules: {
            // // // // //     txt_FullName: {
            // // // // //         required: true,
            // // // // //         minlength: 3,
            // // // // //         maxlength: 50,
            // // // // //     },
            // // // // // },

            submitHandler: function (form) {
                // alert('submitHandler XXX');
                // // // // // $.ajax({
                // // // // //     url: 'addEmpl.php',
                // // // // //     type: 'GET',
                // // // // //     dataType: 'html',
                // // // // //     success: function (data) {
                // // // // //         $("#block").html(data);
                // // // // //     }
                // // // // // });
                return false; // required to block normal submit since you used ajax
            }
        });





        // $("#txt_MobileNumber").validate();

        // alert('txt_MobileNumber IS ' + $("#txt_MobileNumber").valid());


        //PageComponentView_POST_ContactUsPage
        var _iURL = '/iWebMember/BSRVemcoPageComponent/PageComponentView_POST_BuildingNewPage';




        // capture the click
        if ($("#addForm").valid()) {   // test for validity
            // do stuff if form is valid


            BSR_ShowToastMessage('process');




            //alert('YES YES YES');

            // alert($("#txt_FullName").val());
            // alert($("#txt_EmailAddress").val());
            // alert($("#txt_MobileNumber").val());
            // alert($("#txt_MessageBox").val());

            $.ajax({

                url: _iURL,
                data: {
                    iBuildingName: $("#txt_BuildingName").val(),//,//document.getElementById("cbShowPrevious").checked,
                    iBuildingAddress: $("#txt_BuildingAddress").val(),//,//document.getElementById("cbShowPrevious").checked,
                    iBuildingDateYear: $("#txt_BuildingDateYear").val(),//,//document.getElementById("cbShowPrevious").checked,
                    iImageServerURL: $("#txt_BuildingImageURL").val()//,//document.getElementById("cbShowPrevious").checked,
                    //querytbltknid: $("#iQueryTableTokenID").val(), //document.getElementById("cbShowUpcoming").checked
                    //iPageNumber: iPageNumber, //document.getElementById("cbShowUpcoming").checked
                    //blnIsPaging: blnIsPaging //document.getElementById("cbShowUpcoming").checked
                },
                success: function (data) {


                    // $(".div_RenderBody").html(data);
                    load_PageContent_Static_ByPageTokenID('building_list');


                    // alert(iPageCode + " div_RenderBody ...  --- " + $(".div_RenderBody"));

                    // alert(" EMAIL SENT loaded ...  --- ");


                    // // // $(".div_RenderBody").html(data);

                    // if (iPageCode == 'building_resident') {
                    //     load_FCKEditor_Activity();

                    // } else {

                    //     load_FCKEditor();
                    // }

                }

            });


        }

        else {
            // do stuff if form is not valid
            // alert('NO NO NO');
        }
    });



</script>
