@{
    //Layout = null;
}

<div id="main" style="margin-top:0px;padding-top:10px;">

    <div class="pagetitle" style="padding-top:0px;">
        @*<h1>Company Name</h1>*@
        <nav>
            <ol class="breadcrumb">
                @*href="index.html"*@
                <li class="breadcrumb-item"><a>Building</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div>

    <section>


        <div class="row">

            <span class="fs-5 ms-3">Safety Management System</span>

        </div>

    <div class="text-center" style="margin:10px;">
@*style="background-color:yellow;"*@

        <div class="col-md-6 offset-md-3 d-flex align-items-center justify-content-center" style="position:relative;">
            @*opacity:0.8;*@
            <div style="position:absolute;width:508px;height:504px;background-color:transparent;margin-left:102px;margin-bottom:52px;">
              
    <img src="~/img/img_faq_pin_color.png" width="20px" height="20px"
                     style="position:absolute;bottom:301px;left:404px;" />

                <span class="fw-bold"
                     style="color:black;position:absolute;bottom:320px;left:420px;">(4,3)</span>

</div>
            <table class="table table-bordered" style="background-color:whitesmoke;border:black 1px solid;">


                <tr>
                    <td class="fw-bold text-center align-middle" style="width:20px;height:100px;background-color:whitesmoke;border:whitesmoke 1px solid;">5</td>
                    <td style="width:100px;height:100px;background-color:green;"></td>
                    <td style="width:100px;height:100px;background-color:orange;"></td>
                    <td style="width:100px;height:100px;background-color:red;"></td>
                    <td style="width:100px;height:100px;background-color:red;"></td>
                    <td style="width:100px;height:100px;background-color:red;"></td>
                </tr>



                <tr>
                    <td class="fw-bold text-center align-middle" style="width:20px;height:100px;background-color:whitesmoke;border:whitesmoke 1px solid;">4</td>
                    <td style="width:100px;height:100px;background-color:green;"></td>
                    <td style="width:100px;height:100px;background-color:orange;"></td>
                    <td style="width:100px;height:100px;background-color:red;"></td>
                    <td style="width:100px;height:100px;background-color:red;"></td>
                    <td style="width:100px;height:100px;background-color:red;"></td>
                </tr>



                <tr>
                    <td class="fw-bold text-center align-middle" style="width:20px;height:100px;background-color:whitesmoke;border:whitesmoke 1px solid;">3</td>
                    <td style="width:100px;height:100px;background-color:green;"></td>
                    <td style="width:100px;height:100px;background-color:orange;"></td>
                    <td style="width:100px;height:100px;background-color:orange;"></td>
                    <td style="width:100px;height:100px;background-color:red;"></td>
                    <td style="width:100px;height:100px;background-color:red;"></td>
                </tr>


                <tr>
                    <td class="fw-bold text-center align-middle" style="width:20px;height:100px;background-color:whitesmoke;border:whitesmoke 1px solid;">2</td>
                    <td style="width:100px;height:100px;background-color:green;"></td>
                    <td style="width:100px;height:100px;background-color:green;"></td>
                    <td style="width:100px;height:100px;background-color:orange;"></td>
                    <td style="width:100px;height:100px;background-color:orange;"></td>
                    <td style="width:100px;height:100px;background-color:orange;"></td>
                </tr>


                <tr>
                    <td class="fw-bold text-center align-middle" style="width:20px;height:100px;background-color:whitesmoke;border:whitesmoke 1px solid;">
                        1</td>
                    <td style="width:100px;height:100px;background-color:green;"></td>
                    <td style="width:100px;height:100px;background-color:green;"></td>
                    <td style="width:100px;height:100px;background-color:green;"></td>
                    <td style="width:100px;height:100px;background-color:green;"></td>
                    <td style="width:100px;height:100px;background-color:green;"></td>
                </tr>

                <tr>
                    <td class="fw-bold text-center" style="width:100px;height:20px;background-color:whitesmoke;border:whitesmoke 1px solid;"></td>
                    <td class="fw-bold text-center" style="width:100px;height:20px;background-color:whitesmoke;border:whitesmoke 1px solid;">1</td>
                    <td class="fw-bold text-center" style="width:100px;height:20px;background-color:whitesmoke;border:whitesmoke 1px solid;">2</td>
                    <td class="fw-bold text-center" style="width:100px;height:20px;background-color:whitesmoke;border:whitesmoke 1px solid;">3</td>
                    <td class="fw-bold text-center" style="width:100px;height:20px;background-color:whitesmoke;border:whitesmoke 1px solid;">4</td>
                    <td class="fw-bold text-center" style="width:100px;height:20px;background-color:whitesmoke;border:whitesmoke 1px solid;">5</td>
                </tr>




            </table>

      
        </div>
    </div>

    </section></div>
