@model BSRVemcoCS.iAppViewModel.AppDevelomentNew1ViewModel
@{


}



@* class="row"<main id="main" class="main">*@
<div id="main" style="margin-top:0px;padding-top:10px;">

    <div class="pagetitle" style="padding-top:0px;">
        @*<h1>Company Name</h1>*@
        <nav>
            <ol class="breadcrumb">
                @*href="index.html"*@
                <li class="breadcrumb-item"><a>Building</a></li>
                <li class="breadcrumb-item active">Summary Information</li>
            </ol>
        </nav>
    </div>

    <!-- End Page Title -->
    @*    class="section dashboard" style="margin-top:0px;padding-top:0px;"*@
    <section>


        <div class="row">

            <span class="fs-5 ms-3">Summary Information</span>
        </div>

        <form method="post" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>


            <div asp-validation-summary="All" class="text-danger"></div>



            <div class="row">


                @*   <div class="mt-3 ms-3 me-3">
                <label for="formGroupExampleInput" class="form-label">Accountable Person (AP):</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="" value="Vemco consulting" disabled>
                </div>
                *@
                @*            col-12*@

                <div class="row">

                    <div class="col-6 mt-3 ms-3 me-3">
                        <label for="formFile" class="form-label">Image:</label>
                        @*onchange="ShowPreview(this);"*@
                        <input id="uploadFile" name="uploadFile" class="form-control" asp-for="FUploadBuildingImage"
                               accept="image/*" onchange="PreviewImage()" />

                        @*  <input class="form-control" type="file" id="formFile" asp-for="FUploadBuildingImage">*@
                    </div>

                    @*           offset-2   card   img-fluid   mt-3 ms-3 me-3 style="background-color:red;"*@
                    <div class="col-5">
                        <img id="img_Preview" name="img_Preview" class="img-fluid float-end"
                             src="~/img/nopreview.png" style="width:auto;height:200px;" />
                    </div>

                </div>


                <div class="mt-0 ms-3 me-3">
                    <label for="formGroupExampleInput2" class="form-label">Development name:</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder=""
                           asp-for="BuildingName"
                           required />
                </div>



                <div class="mt-3 ms-3 me-3">
                    <label for="formGroupExampleInput2" class="form-label">Development address:</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder=""
                           asp-for="BuildingAddress"
                           required />
                </div>


                @*                asp-format="{0:yyyy-MM-dd}"*@
                <div class="mt-3 ms-3 me-3">
                    <label for="formGroupExampleInput2" class="form-label">Build date:</label>
                    <input type="number" min="1900" max="2100" step="1" value="@DateTime.Now.Year" class="form-control" id="formGroupExampleInput2" placeholder=""
                           asp-for="BuildingDateYear"
                           required />

                    @*<input type="year" class="form-control" id="formGroupExampleInput2" placeholder=""
                    asp-for="BuildingDate"
                    required/>*@

                </div>
                <span class="text-mute ms-3" style="font-size:small;">(approximate if unknown)</span>


                @*style="background-color:red;"*@
                <div class="mt-5">
                    <input class="btn btn-primary float-end" type="submit" value="Next" style="width:100px;height:auto;">
                </div>


            </div>
            <br />
            <span style="color:green">@Html.Raw(ViewBag.Message)</span>
        </form>

    </section>



</div>

<script>


    function PreviewImage () {

        try {

            //alert('PreviewImage'); // Where you will display your image
            //var preview = document.querySelector('img');
            var preview = document.getElementById("img_Preview");
            // The button where the user chooses the local image to display
            //var file = document.querySelector('input[type=file]').files[0];
            var file = document.getElementById("uploadFile").files[ 0 ];
            // FileReader instance
            var reader = new FileReader();

            // When the image is loaded we will set it as source of
            // our img tag
            reader.onloadend = function () {
                preview.src = reader.result;
            }


            if (file) {
                // Load image as a base64 encoded URI
                reader.readAsDataURL(file);
            }
            else {
                preview.src = "";
            }

        }
        catch (err) {
            console.error(err);
            return;
        }


    }




    function ShowPreview (input) {

        //alert(input);

        const file = input.files[ 0 ];

        if (file) {

            var img_Preview = document.getElementyId("img_Preview");
            img_Preview.src = URL.createObjectURL(file);
        }
    }


</script>

@section iScript{



        }