@model BSRVemcoPage_ContactUsViewModel
@* class="accordion-body" *@
<div id="div_PageHTMLContent" style="margin:0px;padding:0px;display:flex;flex-direction:column;">

    @*  <div class="text-center fs-5">Invite users</div>
     <div class="text-center fs-5">Contacting us means a lot and we are eager to serve you at the highest level of vervice that you deserve</div>
    *@
    <div class="text-center fs-6">Invite new users and give them permission to add information to your building. Enter their details below:</div>

    <div class="row">
        <div class="col">
            @*   1 of 3 *@
        </div>

        <div class="col-10">


            <div style="margin-top:20px;padding:0px;">
                @*  <div class="col-3" style="padding:20px;">
                <img src="~/img/img_contact_us.png" style="width:100px;height:auto;" /></div>
                *@

                @* class="me-3" *@
                <div id="div_DocumentUploadxxcxc" 
                    style="width:100%;display:flex;flex-direction:column;justify-content:space-between;">

                    <div class="row" style="width:100%;display:flex;flex-direction:row;margin-bottom:10px;">

                        <div class="col-7">
                            Email address
                        </div>

                         <div class="col-4">
                           Name (Optional)
                        </div>

                        @* onclick="Building_Confirm_DELETE('@iRow.BuildingTokenID');" *@
                        <div class="col-1 text-center" style="width:50px;">
                         @*    <img id="img_NewURL1" name="img_NewURL1" src="~/img/img_new.png" style="width:20px;height:20px;" alt="Delete" title="New" />
                      *@   </div>



                    </div>

  
                    <div class="row" style="width:100%;display:flex;flex-direction:row;margin-bottom:10px;">

                        <div class="col-7">
                            <input type="url" pattern="https?://.+" class="form-control" id="input_fileURL1" name="input_fileURL1" placeholder="name@example.com"
                                   style="color:blue;" data-inputfor="fupload" required />
                        </div>

                         <div class="col-4">
                            <input type="text"  class="form-control" id="input_fileURL1" name="input_fileURL1" placeholder="Mr.John"
                                  data-inputfor="fupload" required />
                        </div>

                        @* onclick="Building_Confirm_DELETE('@iRow.BuildingTokenID');" *@
                        <div class="col-1 text-center" style="width:50px;">
                        @*     <img id="img_NewURL1" name="img_NewURL1" src="~/img/img_new.png" style="width:20px;height:20px;" alt="Delete" title="New" />
                      *@   </div>



                    </div>

   
  
                    <div class="row" style="width:100%;display:flex;flex-direction:row;margin-bottom:10px;">

                        <div class="col-7">
                            <input type="url" pattern="https?://.+" class="form-control" id="input_fileURL1" name="input_fileURL1" placeholder="name@example.com"
                                   style="color:blue;" data-inputfor="fupload" required />
                        </div>

                         <div class="col-4">
                            <input type="text"  class="form-control" id="input_fileURL1" name="input_fileURL1" placeholder="Mr.John"
                                  data-inputfor="fupload" required />
                        </div>

                        @* onclick="Building_Confirm_DELETE('@iRow.BuildingTokenID');" *@
                        <div class="col-1 text-center" style="width:50px;">
                        @*     <img id="img_NewURL1" name="img_NewURL1" src="~/img/img_new.png" style="width:20px;height:20px;" alt="Delete" title="New" />
                      *@   </div>



                    </div>

   
  
                    <div class="row" style="width:100%;display:flex;flex-direction:row;margin-bottom:10px;">

                        <div class="col-7">
                            <input type="url" pattern="https?://.+" class="form-control" id="input_fileURL1" name="input_fileURL1" placeholder="name@example.com"
                                   style="color:blue;" data-inputfor="fupload" required />
                        </div>

                         <div class="col-4">
                            <input type="text"  class="form-control" id="input_fileURL1" name="input_fileURL1" placeholder="Mr.John"
                                  data-inputfor="fupload" required />
                        </div>

                        @* onclick="Building_Confirm_DELETE('@iRow.BuildingTokenID');" *@
                        <div class="col-1 text-center" style="width:50px;">
                            <img id="img_NewURL1" name="img_NewURL1" src="~/img/img_new.png" style="width:20px;height:20px;" alt="Delete" title="New" />
                        </div>



                    </div>

   
                </div>


                <div class="row mt-0" style="width:100%;display:flex;flex-direction:row;margin-bottom:0px;">

                    <div class="col-7">
                        <span class="text-muted flex-start" style="width:90%;font-size:small;padding:5px;">
                            (You may invite users max of (10)
                        </span>
                    </div>

                    <div class="col-4">
                        <input class="btn btn-primary" type="submit" value="Submit" style="width:100%;height:auto;background-color:#19c571;height:auto;border-color:#19c571;color:white;">

                    </div>

                 
                    <div class="col-1 text-center" style="width:50px;">
                    @*     <img id="img_NewURL1" name="img_NewURL1" src="~/img/img_new.png" style="width:20px;height:20px;" alt="Delete" title="New" />
                  *@   </div>



                </div>

            

            </div>


        </div>


        <div class="col">
            @*  3 of 3 *@
        </div>
    </div>



</div>
