@model BSRVemcoPage_ContactUsViewModel
@* class="accordion-body" *@
<div id="div_PageHTMLContent" style="margin:0px;padding:0px;display:flex;flex-direction:column;">

    @*  <div class="text-center fs-5">Invite users</div>
    <div class="text-center fs-5">Contacting us means a lot and we are eager to serve you at the highest level of vervice that you deserve</div>
    *@
    <div class="text-center fs-6">Invite new users and give them permission to add information to your building. Enter their details below:</div>

    <div class="row">
        <div class="col">
            @*   1 of 3 *@
        </div>

        <div class="col-10">

            <form id="addForm" class="row g-3 needs-validation" novalidate>


                <div style="margin-top:20px;padding:0px;">
                    @*  <div class="col-3" style="padding:20px;">
                    <img src="~/img/img_contact_us.png" style="width:100px;height:auto;" /></div>
                    *@

                    @* class="me-3" *@
                    <div id="div_DocumentUpload"
                         style="width:100%;display:flex;flex-direction:column;justify-content:space-between;">

                        <div class="row" style="width:100%;display:flex;flex-direction:row;margin-bottom:10px;">

                            <div class="col-7">
                                Email address
                            </div>

                            <div class="col-4">
                                Name (Optional)
                            </div>

                            @* onclick="Building_Confirm_DELETE('@iRow.BuildingTokenID');" *@
                            <div class="col-1 text-center" style="width:50px;">
                                @*    <img id="img_NewURL1" name="img_NewURL1" src="~/img/img_new.png" style="width:20px;height:20px;" alt="Delete" title="New" />
                                *@
                            </div>



                        </div>


                        <div class="row" style="width:100%;display:flex;flex-direction:row;margin-bottom:10px;">

                            <div class="col-7">
                                <input type="url" pattern="https?://.+" class="form-control" id="input_fileURL1" name="input_fileURL1" placeholder="name@example.com"
                                       style="color:blue;" data-inputfor="fupload" required />
                            </div>

                            <div class="col-4">
                                <input type="text" class="form-control" id="input_Name1" name="input_Name1" placeholder="Mr.John"
                                       data-inputfor="fname" required />
                            </div>

                            @* onclick="Building_Confirm_DELETE('@iRow.BuildingTokenID');" *@
                            <div class="col-1 text-center" style="width:50px;">
                                @*     <img id="img_NewURL1" name="img_NewURL1" src="~/img/img_new.png" style="width:20px;height:20px;" alt="Delete" title="New" />
                                *@
                            </div>



                        </div>



                        <div class="row" style="width:100%;display:flex;flex-direction:row;margin-bottom:10px;">

                            <div class="col-7">
                                <input type="url" pattern="https?://.+" class="form-control" id="input_fileURL2" name="input_fileURL2" placeholder="name@example.com"
                                       style="color:blue;" data-inputfor="fupload" required />
                            </div>

                            <div class="col-4">
                                <input type="text" class="form-control" id="input_Name2" name="input_Name2" placeholder="Mr.John"
                                       data-inputfor="fname" required />
                            </div>

                            @* onclick="Building_Confirm_DELETE('@iRow.BuildingTokenID');" *@
                            <div class="col-1 text-center" style="width:50px;">
                                @*     <img id="img_NewURL1" name="img_NewURL1" src="~/img/img_new.png" style="width:20px;height:20px;" alt="Delete" title="New" />
                                *@
                            </div>



                        </div>



                        <div class="row" style="width:100%;display:flex;flex-direction:row;margin-bottom:10px;">

                            <div class="col-7">
                                <input type="url" pattern="https?://.+" class="form-control" id="input_fileURL3" name="input_fileURL3" placeholder="name@example.com"
                                       style="color:blue;" data-inputfor="fupload" required />
                            </div>

                            <div class="col-4">
                                <input type="text" class="form-control" id="input_Name3" name="input_Name3" placeholder="Mr.John"
                                       data-inputfor="fname" required />
                            </div>

                            @* onclick="Building_Confirm_DELETE('@iRow.BuildingTokenID');" *@
                            <div class="col-1 text-center" style="width:50px;">
                                <img id="img_NewURL1" name="img_NewURL1" src="~/img/img_new.png" style="width:20px;height:20px;" alt="New" title="New" />
                            </div>



                        </div>


                        @*   <div class="row" style="width:100%;display:flex;flex-direction:row;margin-bottom:10px;">

                        <div class="col-7">
                        <input type="url" pattern="https?://.+" class="form-control" id="input_fileURL3" name="input_fileURL3" placeholder="name@example.com"
                        style="color:blue;" data-inputfor="fupload" required />
                        </div>

                        <div class="col-4">
                        <input type="text" class="form-control" id="input_Name3" name="input_Name3" placeholder="Mr.John"
                        data-inputfor="fupload" required />
                        </div>


                        <div class="col-1 text-center" style="width:50px;">
                        <img id="img_delURL2" name="img_delURL2" class="remove_input_button" src="https://bsr.vemcoconsulting.com/img/img_delete.png" style="width:20px;height:20px;" alt="Delete" title="Delete" />
                        </div>



                        </div> *@


                    </div>


                    <div class="row mt-0" style="width:100%;display:flex;flex-direction:row;margin-bottom:0px;">

                        <div class="col-7">
                            <span class="text-muted flex-start" style="width:90%;font-size:small;padding:5px;">
                                (You may invite users max of (10)
                            </span>
                        </div>

                        <div class="col-4">
                            @* type="submit" *@
                            <input class="btn btn-primary" value="Submit" style="width:100%;height:auto;background-color:#19c571;height:auto;border-color:#19c571;color:white;"
                                   onclick="upload_UserEmailLinkList()">

                        </div>


                        <div class="col-1 text-center" style="width:50px;">
                            @*     <img id="img_NewURL1" name="img_NewURL1" src="~/img/img_new.png" style="width:20px;height:20px;" alt="Delete" title="New" />
                            *@
                        </div>



                    </div>



                </div>

            </form>

        </div>


        <div class="col">
            @*  3 of 3 *@
        </div>
    </div>



</div>




<script>




    // $(document).ready(function () {

    //     try {


    var max_fields = 10;
    var img_NewURL1 = $('#img_NewURL1');
    var $add_input_button = $('#btn_NewFileHyperlink');
    var $field_wrapper = $('#div_DocumentUpload');
    // var new_field_html_X1 = '<div><input name="title[]" class="form-control form-item type="text" value="" data-label="title" /><a href="javascript:void(0);" class="remove_input_button" title="remove field">-</a></div>';
    // var new_field_html = '<div class="row" style="width:100%;display:flex;flex-direction:row;margin-bottom:10px;"><div class="col-11" ><input type="text"  type="url" pattern="https?://.+" class="form-control" id="input_fileURL2" name="input_fileURL2" placeholder="Insert your hyperlink here ..." style="color:blue;"   data-inputfor="fupload"  required /></div><div class="col-1 text-center" style="width:50px;" ><img id="img_delURL2" name="img_delURL2" class="remove_input_button"  src="https://bsr.vemcoconsulting.com/img/img_delete.png" style="width:20px;height:20px;" alt="Delete" title="Delete" /></div></div>';


    var new_field_html = '<div class="row" style="width:100%;display:flex;flex-direction:row;margin-bottom:10px;"><div class="col-7" ><input type="url" pattern = "https?://.+" class="form-control" id = "input_fileURL3" name="input_fileURL3" placeholder="name@example.com" style="color:blue;" data-inputfor="fupload" required /></div><div class="col-4" ><input type="text" class="form-control" id="input_Name3" name="input_Name3" placeholder="Mr.John"  data-inputfor="fname" required /></div><div class="col-1 text-center" style="width:50px;" ><img id="img_delURL2" name="img_delURL2" class="remove_input_button" src="https://bsr.vemcoconsulting.com/img/img_delete.png" style="width:20px;height:20px;" alt="Delete" title="Delete" /></div></div>';



    var input_count = 3;

    //add inputs
    img_NewURL1.click(function () {
        if (input_count < max_fields) {
            input_count++;
            $field_wrapper.append(new_field_html);
        }
    });


    //add inputs
    // $add_input_button.click(function () {
    //     if (input_count < max_fields) {
    //         input_count++;
    //         $field_wrapper.append(new_field_html);
    //     }
    // });

    //remove_input
    $field_wrapper.on('click', '.remove_input_button', function (e) {
        e.preventDefault();
        $(this).parent('div').parent('div').remove();
        input_count--;
    });

    //     }
    //     catch (err) {
    //         console.error(err);
    //         return;
    //     }

    // });


    ///////////////////////////////////////





    function upload_UserEmailLinkList() {

        try {


            //alert('upload_DocumentLinkList');
            var _urlLinkList = "";

            var inputs = $('[data-inputfor="fupload"]');

            // alert(inputs.length);


            for (var i = 0; i < inputs.length; i++) {

                // alert($(inputs[i]).val());
                // alert(isValidUrl($(inputs[i]).val()));

                if ($(inputs[i]).val().length != 0) {


                    if (isValidUrl($(inputs[i]).val())) {

                        if (_urlLinkList == "") {
                            _urlLinkList = $(inputs[i]).val();
                        }

                        else {
                            _urlLinkList += ',' + $(inputs[i]).val();
                        }

                    }
                }

                // else {
                //     alert('empty');

                // }


            }

            // alert('_urlLinkList == ' + _urlLinkList);

            if (_urlLinkList != "") {

                // alert('_urlLinkList != ""');


                BSR_ShowToastMessage('process');

                // open_TabViewProgressQuery();





                $.ajax({

                    url: '/iWebMember/Development/QueryForm_Upload_FileLinks',
                    data: {
                        // // // // // iAppQueryTableTokenID: $("#iAppQueryTableTokenID").val(),
                        // // // // // iAppQueryInformationTokenID: $("#iAppQueryInformationTokenID").val(),
                        // // // // // iQueryTableTokenID: $("#iQueryTableTokenID").val(),
                        // // // // // iQueryInformationTokenID: $("#iQueryInformationTokenID").val(),
                        // // // // // iBuildingTokenID: $("#iBuildingTokenID").val(),
                        // // // // // iFileLinkList: _urlLinkList,
                        // // // // // iAnswerCode: window.answercode,
                        // // // // // iAnswerText: window.systemdescription


                        // // // // // doctknid: window.doctknid,
                        // // // // // iday: date.getDate(),
                        // // // // // // idayname: $("#iBuildingTokenID").val(),
                        // // // // // imonth: date.getMonth() + 1,
                        // // // // // iyear: date.getFullYear(),
                        // // // // // iDateText: $("#iDocumentDateStart").val(),
                        // // // // // idesc: txt_DocumentDescription,
                        // // // // // timeframe: window.timeframe
                    },
                    success: function (data) {


                        // // // // // if (window.answercode == "yes") {

                        // // // // //     var clmn_ActivityText = $("[data-clmactivity='clmactivity_" + window.inftknid + "']");

                        // // // // //     clmn_ActivityText.html(
                        // // // // //         '<strong>' + window.systemtitle + '</strong>' +
                        // // // // //         window.systemdescription);

                        // // // // // }

                        // // // // // refresh_TabViewQueryDocumentList(true);



                        for (var i = 0; i < inputs.length; i++) {


                            $(inputs[i]).val('');

                        }



                    }
                });



            }

            // else {

            //     alert('_urlLinkList ==== ""');

            // }



        }


        catch (err) {
            // alert(err);
            console.error(err);
            return;
        }

    }




    const isValidUrl = urlString => {
        var urlPattern = new RegExp('^(https?:\\/\\/)?' + // validate protocol
            '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // validate domain name
            '((\\d{1,3}\\.){3}\\d{1,3}))' + // validate OR ip (v4) address
            '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // validate port and path
            '(\\?[;&a-z\\d%_.~+=-]*)?' + // validate query string
            '(\\#[-a-z\\d_]*)?$', 'i'); // validate fragment locator
        return !!urlPattern.test(urlString);
    }



    $("#btn_SubmitForm").click(function () {



        $("#addForm").validate({
            // // // // // rules: {
            // // // // //     txt_FullName: {
            // // // // //         required: true,
            // // // // //         minlength: 3,
            // // // // //         maxlength: 50,
            // // // // //     },
            // // // // // },

            submitHandler: function (form) {
                // alert('submitHandler XXX');
                // // // // // $.ajax({
                // // // // //     url: 'addEmpl.php',
                // // // // //     type: 'GET',
                // // // // //     dataType: 'html',
                // // // // //     success: function (data) {
                // // // // //         $("#block").html(data);
                // // // // //     }
                // // // // // });
                return false; // required to block normal submit since you used ajax
            }
        });





        // $("#txt_MobileNumber").validate();

        // alert('txt_MobileNumber IS ' + $("#txt_MobileNumber").valid());


        //PageComponentView_POST_ContactUsPage
        var _iURL = '/iWebMember/BSRVemcoPageComponent/PageComponentView_POST_ContactUsPage';




        // capture the click
        if ($("#addForm").valid()) {   // test for validity
            // do stuff if form is valid


            BSR_ShowToastMessage('process');




            //alert('YES YES YES');

            // alert($("#txt_FullName").val());
            // alert($("#txt_EmailAddress").val());
            // alert($("#txt_MobileNumber").val());
            // alert($("#txt_MessageBox").val());

            $.ajax({

                url: _iURL,
                data: {
                    // // // // // iFullName: $("#txt_FullName").val(),//,//document.getElementById("cbShowPrevious").checked,
                    // // // // // iEmailAddress: $("#txt_EmailAddress").val(),//,//document.getElementById("cbShowPrevious").checked,
                    // // // // // iMobilenumber: $("#txt_MobileNumber").val(),//,//document.getElementById("cbShowPrevious").checked,
                    // // // // // iMessageText: $("#txt_MessageBox").val()//,//document.getElementById("cbShowPrevious").checked,

                },
                success: function (data) {


                    BSR_ShowToastMessage('update');


                    // // // // //$(".div_RenderBody").html(data);


                }

            });


        }

        else {
            // do stuff if form is not valid
            // alert('NO NO NO');
        }
    });



</script>


