@model BSRVemcoPage_ContactUsViewModel
@* class="accordion-body" *@
<div id="div_PageHTMLContent" style="margin:0px;padding:0px;display:flex;flex-direction:column;">

    <div class="text-center fs-5">Choose your perfect plan</div>
    @*   <div class="text-center fs-5">Contacting us means a lot and we are eager to serve you at the highest level of vervice that you deserve</div>
    *@

    <div class="row">
        <div class="col">
            @*   1 of 3 *@
        </div>

        <div class="col-6">


            <div style="margin-top:20px;padding:0px;display:flex;flex-direction:row;">
                @*  <div class="col-3" style="padding:20px;">
                <img src="~/img/img_contact_us.png" style="width:100px;height:auto;" /></div>
                *@



                <div class="col-5">
                    @* background-color:red; *@
                    <div class="text-center" style="width:250px;position:relative;text-align:center;">

                        <div class="rounded-circle" style="border-color:#0a75bb;border: 1px solid #0a75bb;border-radius:25px;width:50px;height:50px;padding:5px;position:absolute;background-color:white;top:0px;left:100px;z-index:10;">
                            <img class="rounded-circle" src="~/img/logo_blue.png" style="width:40px;height:40px;" />
                        </div>
                        @* p-3 mb-3 bg-body *@
                        <div class="shadow p-3 mb-5 bg-body rounded divHighlight" style="width:250px;height:300px;position:absolute;top:0px;margin-top:30px;z-index:5;background-color:whitesmoke;">
                            <div style="width:100%;height:240px;">

                                <table class="topLeft" style="width:100%;">
                                    <tr><td class="fs-4 p-1 pt-3 text-center">Starter</td></tr>
                                     <tr><td class="fs-5 text-center"><sup>$</sup> 00 / Month </td></tr>
                                    <tr>
                                        <td style="font-size:14px;">
                                            <img src="~/img/img_check_blueg.png" style="width:10px;height:10px;margin-top:-2px;margin-left:2px;margin-right:2px;" />     Repository for documents
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:14px;">
                                            <img src="~/img/img_check_blueg.png" style="width:10px;height:10px;margin-top:-2px;margin-left:2px;margin-right:2px;" />      Building safety case production
                                        </td>
                                    </tr>
                                    @*   <tr><td>&nbsp;</td></tr>
                                    <tr><td>&nbsp;</td></tr>
                                    <tr><td>&nbsp;</td></tr>
                                    <tr><td>&nbsp;</td></tr>
                                    <tr><td>&nbsp;</td></tr> *@
                                    @* <tr><td>&nbsp;</td></tr> *@
                                    @*   <tr>
                                    <td class="text-center p-3">
                                    <button type="button" class="btn btn-primary btn-sm">Get started</button>
                                    </td>
                                    </tr> *@
                                </table>
                            </div>


                            <div>       <button type="button" class="btn btn-primary btn-sm">Get started</button></div>
                        </div>
                        <div class="text-center fs-6" style="width:100%;margin:auto;position:absolute;margin-top:350px;z-index:5;">
                            Cancel any time
                        </div>
                    </div>
                </div>

                <div class="col">
                    @*  3 of 3 *@
                </div>

                <div class="col-5">
                    @* background-color:red; *@
                    <div class="text-center" style="width:250px;position:relative;text-align:center;">

                        <div class="rounded-circle" style="border-color:#0a75bb;border: 1px solid #0a75bb;border-radius:25px;width:50px;height:50px;padding:5px;position:absolute;background-color:white;top:0px;left:100px;z-index:10;">
                            <img class="rounded-circle" src="~/img/logo_blue.png" style="width:40px;height:40px;" />
                        </div>
                        @* p-3 mb-3 bg-body *@
                        <div class="shadow p-3 mb-5 bg-body rounded divHighlight" style="width:250px;height:300px;position:absolute;top:0px;margin-top:30px;z-index:5;background-color:whitesmoke;">
                            <div style="width:100%;height:240px;">
                                <table class="topLeft" style="width:100%;">
                                    <tr><td class="fs-4 p-1 pt-3 text-center">Premium</td></tr>
                                    <tr><td class="fs-5 text-center"><sup>$</sup> 00 / Month </td></tr>
                                    <tr>
                                        <td style="font-size:14px;">
                                            <img src="~/img/img_check_blueg.png" style="width:10px;height:10px;margin-top:-2px;margin-left:2px;margin-right:2px;" />       Repository for documents
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:14px;">
                                            <img src="~/img/img_check_blueg.png" style="width:10px;height:10px;margin-top:-2px;margin-left:2px;margin-right:2px;" />        Building safety case production
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:14px;">
                                            <img src="~/img/img_check_blueg.png" style="width:10px;height:10px;margin-top:-2px;margin-left:2px;margin-right:2px;" />      Dynamic risk scoring
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:14px;">
                                            <img src="~/img/img_check_blueg.png" style="width:10px;height:10px;margin-top:-2px;margin-left:2px;margin-right:2px;" />    Alert system
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:14px;">
                                            <img src="~/img/img_check_blueg.png" style="width:10px;height:10px;margin-top:-2px;margin-left:2px;margin-right:2px;" />      Risk rating facility
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:14px;">
                                            <img src="~/img/img_check_blueg.png" style="width:10px;height:10px;margin-top:-2px;margin-left:2px;margin-right:2px;" />     Assign portal access
                                        </td>
                                    </tr>
                                    @*   <tr>
                                    <td class="text-center p-3">
                                    <button type="button" class="btn btn-primary btn-sm">Get started</button>
                                    </td>
                                    </tr> *@
                                </table>
                            </div>
                            <div>       <button type="button" class="btn btn-primary btn-sm">Get started</button></div>

                        </div>
                        <div class="text-center fs-6" style="width:100%;margin:auto;position:absolute;margin-top:350px;z-index:5;">
                            Cancel any time
                        </div>
                    </div>
                </div>





            </div>


        </div>


        <div class="col">
            @*  3 of 3 *@
        </div>
    </div>



</div>
