@model BSRVemcoPage_ContactUsViewModel
@* class="accordion-body" *@
@*POPUP-popupModalEditor*@


                <video src="https://bsr.vemcoconsulting.com/_iBSRMedia/_iBSRVideo/vid_about.mp4"
                       poster="https://bsr.vemcoconsulting.com/_iBSRMedia/_iBSRVideo/vid_about.png"
                       style="width:auto;height:100%;"/>



@* style="display:block;" *@
<div class="modal modal-fullscreen" id="popupModalEditor" >
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title">About BSR Building Portal</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">




                <video src="https://bsr.vemcoconsulting.com/_iBSRMedia/_iBSRVideo/vid_about.mp4"
                       poster="https://bsr.vemcoconsulting.com/_iBSRMedia/_iBSRVideo/vid_about.png"
                       style="width:auto;height:100%;"/>







            </div>
            <div class="modal-footer">
                <div style="width:100%;display:flex;flex-direction:row;justify-content:space-between;">

                 <div class="flex-start">

                       @*     <div id="div_CommandUpload" class="flex-start">
                            <button type="button" id="btnuploadX" class="btn btn-primary"
                                    onclick="upload_DocumentLinkList();">
                                Upload
                            </button>
                            <span style="margin-left:10px;">Max files to upload (10s)</span>
                        </div>
                   
                        <div id="div_CommandActivity" class="flex-start">
                            <button type="button" id="btnuploadActivity" class="btn btn-primary"
                                    onclick="submit_ActivityDescription();">
                                Submit
                            </button>
                        </div>

                        <div id="div_CommandEdit" class="flex-start">
                            <button type="button" id="btnSubmitUpdate" onclick="submit_TabEditDocument();" class="btn btn-primary">Submit</button>

                            <a class="btn btn-danger" onclick="cancel_TabEditDocument();">Cancel</a>
                        </div>

                         *@

                    </div>

                    <div class="flex-end">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>

    // $('#popupModalEditor').modal('show');

    // $('#popupModalEditor').modal('toggle');
   
    // window.onload = function () { 
    //     alert('show popup here');
    
    // }
</script>

