/*input:focus {
    border: 5px solid blue;
    background: green;
}
*/

/*input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}
*/
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea {
    /*background-color: lightblue;*/
    background-color: #ffffcc;
    border: 1px solid #0a75bb;
}

input[type=text], input[type=email], input[type=password], input[type=checkbox], textarea {
    /*background-color: lightblue;*/
    /*background: blue;*/
    background-color: #ffffcc;
    /*   border:  1px solid lightblue ;*/
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea {
    /*-webkit-box-shadow: 0 0 0 30px white inset !important;*/
    /*-webkit-box-shadow: 0 0 0 30px #0a75bb inset !important;*/
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    color: black;
}



input[type=text]:not(:placeholder-shown),
input[type=email]:not(:placeholder-shown),
input[type=password]:not(:placeholder-shown) {
    background-color: #ffffcc !important;
}


input:placeholder-shown,
input[type=email]:not(:placeholder-shown),
input[type=password]:not(:placeholder-shown) {
    background-color: #ffffff !important;
}
