/*input:focus {
    border: 5px solid blue;
    background: green;
}
*/

/*input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}
*/
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea, textarea:focus {
    /*background-color: lightblue;*/
    background-color: #ffffcc !important;
    border: 1px solid #0a75bb;
}

input[type=text], input[type=email], input[type=password], textarea {
    /*background-color: lightblue;*/
    /*background: blue;*/
    background-color: #ffffcc !important;
    /*   border:  1px solid lightblue ;*/
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea {
    /*-webkit-box-shadow: 0 0 0 30px white inset !important;*/
    /*-webkit-box-shadow: 0 0 0 30px #0a75bb inset !important;*/
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    color: black;
}



input[type=text]:not(:placeholder-shown),
input[type=email]:not(:placeholder-shown),
input[type=password]:not(:placeholder-shown),
textarea {
    background-color: #ffffcc !important;
}


input:placeholder-shown,
input[type=email]:not(:placeholder-shown),
input[type=password]:not(:placeholder-shown),
textarea {
    background-color: #ffffff !important;
}


.textarea, .textarea:focus, .textarea:empty {
    /*-fx-background-color: #ffffcc !important;*/
}

textarea, textarea:focus, textarea:empty {
   /* -fx-background-color: #ffffcc !important;*/
}


/*
input[type=checkbox] {
       background-color: #ffffff !important; 
     color: #0a65bb   !important;
     width:18px;
     height:18px;
     margin:0px;
     padding:0px;
}
*/