.divHighlight:hover {
    background-color: #cae9f9 !important;
    color: black;
    /*background-color: red;*/
    /*opacity: 0.5;*/
}


/*.table td, .table th {
    font-size: 12px;
}


table td, table th {
    font-size: 12px;
}*/