@model BSRVemcoPage_ContactUsViewModel
@* class="accordion-body" *@
<div id="div_PageHTMLContent"  style="margin:0px;padding:0px;display:flex;flex-direction:column;">

    @* <div class="text-center fs-5">Contact Us</div> *@
    <div class="text-center fs-6" style="margin-left:30px;">Contacting us means a lot and we are eager to help:</div>


    <div class="row">
        <div class="col">
            @*   1 of 3 *@
        </div>

        <div class="col-8" style="margin-top:20px;padding:0px;display:flex;flex-direction:row;">
        <div class="col-3" style="padding:20px;">
            <img src="~/img/img_contact_us.png" style="width:100px;height:auto;" /></div>
      
        <div class="col-8">
           
            <form method="post" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>


                <div asp-validation-summary="All" class="text-danger"></div>



                <div class="row">


                    <div class="mb-3">

                       @*  asp-for="CompanyName" *@ <input type="text" class="form-control form-control-sm" id="floatingInput" placeholder="Full name"
                          
                               required>
                        <div class="invalid-feedback text-start">Please fill in this field</div>

                    </div>

 
                    <div class="mb-3">

                      @*   asp-for="Email" *@  <input type="email" class="form-control form-control-sm" id="floatingInput" placeholder="E-mail address"
                             
                               required>
                        <div class="invalid-feedback text-start">Please fill in this field</div>

                    </div>

                    
                    <div class="mb-3">

                      @*   asp-for="Email" *@  <input type="tel" class="form-control form-control-sm" id="floatingInput" placeholder="Mobile number"
                             
                               required>
                        <div class="invalid-feedback text-start">Please fill in this field</div>

                    </div>


      
                    <div class="mb-3">

                      @*   asp-for="Email" *@  
                      <textarea  class="form-control form-control-sm topLeft" id="floatingInput" placeholder="Your message here"
                             
                               required>Your message here ...
                     @*    <div class="invalid-feedback text-start">Please fill in this field</div>
                     *@    </textarea>
                    </div>




                    @* xxx *@

                 


               

                    @*style="background-color:red;"*@
                    <div class="mt-3">
                        <input class="btn btn-primary" type="submit" value="Submit" style="width:100%;height:auto;background-color:#19c571;height:auto;border-color:#19c571;color:white;">
                    </div>


                </div>
                <br />
     
            </form>
      
        
        </div>
   
    
    
    
    </div>

        <div class="col">
            @*  3 of 3 *@
        </div>
    </div>



</div>
